#include "secrets.h"

// WiFi credentials - Update these with your actual credentials
// IMPORTANT: Do not commit this file to version control with real credentials

const char* ssid1 = "";
const char* password1 = "";

const char* ssid2 = "";
const char* user = "";
const char* password2 = "";

const char* ssid3 = "";
const char* password3 = "";

const char* aqicnToken = "";
const char* iqairToken = "";
const char* country = "Thailand"; // You can lookup at iqair document
const char* state = "Bangkok"; // for iqair
const char* city = ""; // for iqair
// iqair documentation
// https://api-docs.iqair.com/?version=latest